@namespace Playground.Blazor.Wasm.Application.Pages

@page "/fetchdatahttp"
@using Playground.Blazor.Core
@inject IHttpWeatherForecastService Srv;

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server via HttpClient.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>Instance count: @Srv.InstanceCount, Instance number: @Srv.InstanceNumber</p>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IReadOnlyCollection<WeatherForecast>? forecasts = null;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Srv.GetForecast(DateTime.Now);
    }

}
